---
name: CI scripts

on:
  push:
    branches:
      - master
      - dev
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-2025"]
        python: ${{ (github.event_name == 'pull_request' && fromJSON('["3.10", "3.14"]')) || fromJSON('["3.10", "3.11", "3.12", "3.13", "3.14"]') }}
        type: ["brownie", "buidler", "dapp", "embark", "hardhat", "solc", "truffle", "waffle", "foundry", "standard", "vyper", "solc_multi_file", "hardhat_multi_file", "hardhat_v3"]
        include:
          # buidler requires older NodeJS
          - type: buidler
            node-version: 12

          - type: hardhat_v3
            node-version: 22
        exclude:
          # Currently broken, tries to pull git:// which is blocked by GH
          - type: embark
          # Requires nix
          - os: windows-2025
            type: dapp
          # Explore foundry support in windows
          - os: windows-2025
            type: foundry
    steps:
    - uses: actions/checkout@v6
    - name: Set up shell
      if: runner.os == 'Windows'
      run: |
        echo 'C:\msys64\mingw64\bin' >> "$GITHUB_PATH"
        echo 'C:\msys64\usr\bin' >> "$GITHUB_PATH"
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version || '18.15' }}
    - name: Set up Python ${{ matrix.python }}
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python }}
        activate-environment: true
    - name: Install dependencies
      run: |
        uv pip install .
        solc-select use 0.5.7 --always-install
    - name: Set up nix
      if: matrix.type == 'dapp'
      uses: cachix/install-nix-action@v31
    - name: Set up cachix
      if: matrix.type == 'dapp'
      uses: cachix/cachix-action@v16
      with:
        name: dapp
    - name: Install Foundry
      if: matrix.type == 'foundry'
      uses: foundry-rs/foundry-toolchain@v1
    - name: Run Tests
      env:
        TEST_TYPE: ${{ matrix.type }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash
      run: |
        bash "scripts/ci_test_${TEST_TYPE}.sh"
