name: CI

on:
  push:
    branches:
      - master
      - dev
  pull_request:
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron:  '0 12 * * *'

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-2022"]
        type: ["solc", "truffle", "embark", "etherlime", "brownie", "waffle", "buidler", "hardhat"]
        exclude:
          # Currently broken, tries to pull git:// which is blocked by GH
          - type: embark
          # Requires nix
          - os: windows-2022
            type: dapp
    steps:
    - uses: actions/checkout@v3
    - name: Set up shell
      if: runner.os == 'Windows'
      run: |
        echo 'C:\msys64\mingw64\bin' >> "$GITHUB_PATH"
        echo 'C:\msys64\usr\bin' >> "$GITHUB_PATH"
    - name: Choose Node version
      id: node
      shell: bash
      run: |
        if [ ${{ matrix.type }} = "etherlime" ]; then
          echo '::set-output name=version::10.17.0'
        else
          echo '::set-output name=version::lts/*'
        fi
    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: ${{ steps.node.outputs.version }}
    - name: Set up Python 3.6
      uses: actions/setup-python@v3
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        pip install "solc-select>=v1.0.0b1"
        solc-select use 0.5.7 --always-install
        pip install .
    - name: Run Tests
      env:
        TEST_TYPE: ${{ matrix.type }}
        GITHUB_ETHERSCAN: ${{ secrets.GITHUB_ETHERSCAN }}
      shell: bash
      run: |
        bash "scripts/travis_test_${TEST_TYPE}.sh"
