---
name: Lint Code Base

on:
  pull_request:
    branches: [master, dev]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        type: ["black", "darglint", "mypy", "pylint"]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up nix
        uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v11
        with:
          name: crytic-compile
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: run linter
        run: nix-shell -p just --run "just ${{ matrix.type }}"
