---
name: Onchain

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches: [ master, dev ]
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron: '0 12 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-2025"]
        type: ["etherscan", "sourcify"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up shell
      if: runner.os == 'Windows'
      run: |
        echo 'C:\msys64\mingw64\bin' >> "$GITHUB_PATH"
        echo 'C:\msys64\usr\bin' >> "$GITHUB_PATH"
    - name: Set up Python 3.10
      uses: astral-sh/setup-uv@v7
      with:
        python-version: "3.10"
        activate-environment: true
    - name: Install dependencies
      run: |
        uv pip install "solc-select>=v1.0.0b1"
        solc-select use 0.5.7 --always-install
        uv pip install .
    - name: Run Tests
      env:
        TEST_TYPE: ${{ matrix.type }}
        ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
      shell: bash
      run: |
        bash "scripts/ci_test_${TEST_TYPE}.sh"
