---
name: Pytest

defaults:
  run:
    # To load bashrc
    shell: bash -ieo pipefail {0}

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches: [master, dev]
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron: '0 12 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.10"
          activate-environment: true

      - name: Install dependencies
        run: |
            uv pip install ".[test]"
            solc-select use latest --always-install

      - name: Run Tests
        env:
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
        run: |
          pytest tests
