---
name: Pytest

defaults:
  run:
    # To load bashrc
    shell: bash -ieo pipefail {0}

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches: [main, dev]
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron: '0 12 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.8
        uses: actions/setup-python@v6
        with:
          python-version: 3.8
          cache: "pip"
          cache-dependency-path: setup.py


      - name: Install dependencies
        run: |
            pip install ".[test]"
            solc-select use latest --always-install

      - name: Run Tests
        env:
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
        run: |
          pytest tests
